.main {
    background-size: 100% auto;
    height: 100vh;
    width: 100vw;
}

nl-search-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1e88e5;
}

.empty-list {
    color: #BBDEFB;
    font-size: 32px;
    text-align: center;
    margin-top: calc(50vh - 68px - 55px);
}

.add-item {
    display: block;
    font-size: 64px;
    margin-bottom: 10px
}

.drag-handle {
    display: none;
}

.todo-list {
    margin: 8px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.todo-list li {
    position: relative;
    padding: 12px;
    border-top: 1px solid silver;
    padding: 12px 18px;
}

li.finished {
    opacity: 0.45;
}

.todo-list li:first-child {
    border-top: none
}

.checkbox {
    font-size: 20px;
    vertical-align: middle;
    color: #1e88e5;
    position: absolute;
    right: 18px;
    top: 12px;
    top: 50%;
    line-height: 0;
}

.name {
    vertical-align: middle;
    padding-right: 30px;
    display: inline-block;
    line-height: 24px;
}
