

/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700'); 

html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1976D2;
}

* {
    margin: 0;
    padding: 0;
}
